.navbar {
  width: 100%;
  height: 70px;
  padding: 0 60px;

  display: flex;
  align-items: center;

  background-image:url("../assets/title.jpg");
  background-size: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* LEFT TITLE */
.navbar-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

/* CENTER MENU */
.navbar-links {
  list-style: none;
  display: flex;

  margin-left: auto;
  margin-right: auto;
}

/* SPACE BETWEEN EACH BOX */
.navbar-links li {
  margin-right: 100px;
}

.navbar-links li:last-child {
  margin-right: 0;
}

/* BLUE BOX LINKS */
.navbar-links a {
  display: inline-block;
  text-decoration: none;

  padding: 12px 22px;
  background-color: #1e90ff;
  color: #ffffff;

  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* HOVER EFFECT */
.navbar-links a:hover {
  background-color: #0b5ed7;
  transform: translateY(-2px);
}
