:root {
  --primary: #6c63ff;
  --dark: #1f1f1f;
  --light: #f9f9f9;
  --gray: #666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: var(--light);
  color: var(--dark);
  line-height: 1.6;
}
